<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<title>Brad Calc</title>
	</head>
	<body>
		<h1>Brad Big Company</h1>
		<hr />
		<form action='Brad12'>
			<input name='x' value="%s"/>
			<select name="op">
				<option value="0" %s>+</option>
				<option value="1" %s>-</option>
				<option value="2" %s>x</option>
				<option value="3" %s>/</option>				
			</select>
			<input name='y' value="%s"/>
			<input type='submit' value='=' />
			<span>%s</span>
		</form>
	</body>
</html>